:host {

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .logo {
    background-image: url("../../../assets/images/star-wars.png");
    display: block;
    top: 50%;
    width: 203px;
    height: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .clr-form {
    .search {
      margin-bottom: 34px;

      ::ng-deep .clr-control-container {
        align-self: center;

        input {
          width: 8rem;
          color: black;
          text-align: center;
          color: white;
        }
      }
    }
  }

}
