
<form
  [formGroup]="searchPageForm"
  class="clr-form">

  <div class="clr-row">
    <div class="clr-col-12">
      <div class="search-wrapper">
        <clr-input-container class="search">
          <input
            clrInput
            type="search"
            id="search"
            name="search"
            formControlName="search"
            placeholder="Search People"
            class="clr-input" />
        </clr-input-container>
      </div>
    </div>
  </div>

  <div *ngFor="let people of (people$ | async)">
    <p>{{people.name}}</p>
  </div>

  <div>total: {{}}</div>

</form>

